# KNN REGRESSION ALGORITHM FROM SCRATCH

### Done By:  VISHWAK BALAJI

## Importing Libraries:

In [1]:
import numpy as np
import pandas as pd

## Reading the Dataset

In [2]:
cars = pd.read_csv(r"C:\Users\vishw\Videos\DATA SETS\cars.csv")
cars.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US

In [3]:
# Copying the dataset into another variable
df = cars.copy()

In [4]:
#finding the shape of the dataset
df.shape

(406, 9)

In [5]:
x = df[['Weight','Horsepower','Displacement','Acceleration']]  # this is features
y = df['MPG'] # this is label

In [6]:
# train split
X_train = x.iloc[:300,:]
y_train = y.iloc[:300,]

# test split
X_test = x.iloc[300:,:]
y_test = y.iloc[300:,]

In [7]:
# Standardization for X_train data
a = np.mean(X_train)
b = np.std(X_train)
z1 = (X_train - a)/b 

# Standardization for y_train data
A = np.mean(y_train)
B = np.std(y_train)
z2 = (y_train - A)/B

# Standardization for X_test data
c = np.mean(X_test)
d = np.std(X_test)
z3 = (X_test - c)/d 

# Standardization for y_test data
C = np.mean(y_test)
D = np.std(y_test)
z4 = (y_test - C)/D

In [8]:
# Distance formmula:

def Euclidean(x,y):
    d = np.sqrt(sum(((x)-(y))**2))         
    return (d)

In [9]:
# function for knn selection:
def knn(X_train,x,k):
    min_val={}
    for i in range(len(X_train)):
        d = Euclidean(X_train.iloc[i],x)
        min_val[d] = y.iloc[i]
    
    Sum = 0
    avg = 0
    for j in sorted(min_val.keys())[:k]:
        Sum += min_val[j]
        avg= Sum/k
    return avg

In [10]:
# calling the function and printing it
y_pred = knn(X_train,X_test.iloc[0],3)

print('Predicted Value: ',y_pred)
print('Actual Value: ',y_test.iloc[0])

Predicted Value:  29.0
Actual Value:  31.9